In [1]:
# Importing relevant libraries
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
# Adjusting the view
pd.options.display.max_columns = 30

In [3]:
#Reading in the data set
energy = pd.read_csv('energydata_complete.csv')
energy.sample(10)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
12310,2016-04-06 04:40:00,50,0,21.963333,41.000000,18.790000,46.500000,24.200000,39.230000,20.790000,40.700000,20.70,51.090000,7.190000,62.326667,21.290,35.790000,22.417500,39.842500,20.890000,45.663333,6.366667,753.866667,95.000000,4.000000,21.333333,5.600000,10.494831,10.494831
16550,2016-05-05 15:20:00,60,0,23.790000,28.893333,24.426667,25.633333,23.245000,33.045000,22.790000,30.890000,21.00,40.590000,20.033333,1.000000,22.890,26.790000,23.290000,34.400000,20.790000,35.500000,19.300000,760.266667,29.666667,3.333333,40.000000,1.033333,25.981050,25.981050
17031,2016-05-08 23:30:00,60,0,24.566667,38.400000,23.700000,36.863333,26.290000,37.900000,24.785000,36.047500,23.60,39.260000,15.690000,7.000000,24.236,38.170000,24.500000,42.356000,23.200000,41.296000,17.000000,751.650000,59.000000,2.500000,40.000000,8.850000,24.124543,24.124543
10090,2016-03-21 18:40:00,560,30,21.356667,36.090000,19.566667,37.163333,21.633333,35.030000,21.390000,36.126667,19.10,41.126667,9.360000,30.133333,19.290,32.333333,21.260000,37.100000,19.290000,36.000000,8.333333,760.066667,71.666667,2.000000,36.333333,3.466667,24.368483,24.368483
6430,2016-02-25 08:40:00,60,0,20.200000,38.290000,18.200000,39.760000,20.500000,38.900000,19.760000,36.633333,18.00,50.380000,0.633333,85.226667,19.100,34.465714,20.730000,41.066667,18.066667,40.100000,0.800000,756.300000,91.666667,1.000000,57.666667,-0.433333,0.513427,0.513427
3238,2016-02-03 04:40:00,60,0,21.100000,43.790000,20.500000,42.400000,21.963333,45.900000,20.633333,45.433333,19.50,62.545000,3.863333,96.060000,18.500,41.020000,20.890000,52.645000,18.200000,49.290000,4.700000,757.766667,89.666667,4.333333,32.666667,3.166667,47.178251,47.178251
13438,2016-04-14 00:40:00,60,0,21.633333,41.933333,18.760000,45.790000,23.666667,39.466667,21.700000,39.200000,20.60,47.090000,3.845000,52.500000,20.890,35.856000,23.000000,45.500000,20.390000,45.900000,3.966667,753.600000,95.666667,0.333333,4.000000,3.366667,34.688141,34.688141
5471,2016-02-18 16:50:00,80,0,20.000000,33.900000,18.390000,34.826667,19.736000,36.218000,18.700000,33.790000,17.35,42.856000,5.045000,59.395000,17.700,28.390000,19.421429,35.647143,17.600000,35.290000,3.100000,756.183333,79.500000,2.166667,27.833333,-0.200000,45.117356,45.117356
7810,2016-03-05 22:40:00,80,20,19.890000,37.566667,17.600000,39.826667,20.100000,36.790000,18.000000,36.900000,19.10,63.400000,3.700000,75.190000,18.290,31.100000,21.100000,35.900000,18.000000,36.000000,3.133333,744.366667,94.333333,3.666667,25.000000,2.266667,43.106758,43.106758
2527,2016-01-29 06:10:00,40,0,18.230000,43.030000,17.290000,43.790000,19.133333,42.290000,17.100000,43.500000,16.79,50.638889,3.117500,94.945000,17.290,38.893889,17.390000,45.090000,16.390000,43.045000,4.350000,764.116667,82.000000,7.666667,40.000000,1.550000,44.858200,44.858200

## Understanding the relationship between in-house and outdoor temperature

In [4]:
# Dropping irrelevant columns from our model

clean_energy = energy.drop(['date', 'lights'], axis=1).copy()

In [5]:
# Predicting the value of T6 from T2

t2 = clean_energy['T2'].values
t2 = t2.reshape(-1, 1)
t6 = clean_energy['T6'].values

from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(t2, t6)
pred_t6 = reg.predict(t2)

In [6]:
# Calculating the coefficient of determination for our model

from sklearn.metrics import r2_score 
r2 = r2_score(t6, pred_t6)
round(r2, 2)

0.64

## Training the model

In [7]:
# Scaling the data set 
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled_energy = pd.DataFrame(scaler.fit_transform(clean_energy), columns = clean_energy.columns)

In [8]:
x = scaled_energy.drop(['Appliances'], axis=1)
y = scaled_energy['Appliances']

In [9]:
# Training the model
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)
y_pred = regressor.predict(x_test)

In [10]:
# Finding the mean absolute error for our model

from sklearn.metrics import mean_absolute_error 
mae = mean_absolute_error(y_test, y_pred) 
round(mae, 2)

0.05

In [11]:
# Finding the Residual Sum of Squares

rss = np.sum(np.square(y_test - y_pred))
round(rss, 2)

45.35

In [12]:
# Finding the RMSE for the Linear Model

from sklearn.metrics import mean_squared_error 
rmse = np.sqrt(mean_squared_error(y_test, y_pred)) 
round(rmse, 3)

0.088

In [13]:
# Finding the coefficient of determination

from sklearn.metrics import r2_score 
energy_r2_score = r2_score(y_test, y_pred) 
round(energy_r2_score, 2)

0.15

In [14]:
def get_weights_df(model, feat, col_name):
    #this function returns the weight of every feature 
    weights = pd.Series(model.coef_, feat.columns).sort_values() 
    weights_df = pd.DataFrame(weights).reset_index() 
    weights_df.columns = ['Features', col_name] 
    weights_df[col_name].round(3) 
    return weights_df

In [15]:
# Getting the weights of our linear model
linear_model_weights = get_weights_df(regressor, x_train, 'Linear_Model_Weight')
linear_model_weights.sort_values(by='Linear_Model_Weight')

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv2             0.000770
11          rv1             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

In [16]:
# Training our Ridge Regression model

from sklearn.linear_model import Ridge 
ridge_reg = Ridge(alpha= 0.4) 
ridge_reg.fit(x_train, y_train)
predicted_y = ridge_reg.predict(x_test)

In [17]:
# Calculating the RMSE value for the Ridge Regression model

ridge_rmse = np.sqrt(mean_squared_error(y_test, predicted_y)) 
round(ridge_rmse, 3)

0.088

In [18]:
# Deriving the weights for our lasso regression model

from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha= 0.001 )
lasso_reg.fit(x_train, y_train)

linear_model_weights = get_weights_df(lasso_reg, x_train, 'Lasso_Weight')
linear_model_weights.sort_values(by='Lasso_Weight')

       Features  Lasso_Weight
0        RH_out     -0.049557
1          RH_8     -0.000110
23          rv2     -0.000000
22         RH_6     -0.000000
21           T2      0.000000
20         RH_2     -0.000000
19           T3      0.000000
18         RH_3      0.000000
17           T4     -0.000000
16         RH_4      0.000000
15           T5     -0.000000
14         RH_5      0.000000
13           T6      0.000000
12           T7     -0.000000
11          rv1     -0.000000
10         RH_7     -0.000000
9            T8      0.000000
8            T9     -0.000000
7          RH_9     -0.000000
6         T_out      0.000000
5   Press_mm_hg     -0.000000
4    Visibility      0.000000
3     Tdewpoint      0.000000
2            T1      0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

In [19]:
# Calculating the RMSE for our lasso model

lasso_pred_y = lasso_reg.predict(x_test)
lasso_rmse = np.sqrt(mean_squared_error(y_test, lasso_pred_y)) 
round(lasso_rmse, 3)

0.094